
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="inner-page" id="contact-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>مقایسه محصول</h1>
                            <p>محصولات را با هم مقایسه کنید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">مقایسه محصول</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-none d-lg-block" id="compare-table">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <div id="products-compared">
                                <div class="row mt-2 bg-white">
                                    <div class="col-3 px-2 pb-2 products-compare-item">
                                        <div class="bg-light p-2 text-center">
                                            <div class="btn btn-sm btn-outline-secondary btn-cancel-compare float-left rounded-circle">X</div>
                                            <div><img src="images/products/p100.png' %}" alt=""></div>
                                            <div class="title">گوشی موبایل سامسونگ مدل Galaxy A51</div>
                                            <div class="encode4365gbf265g43d-container">
                                                <span class="encode4365gbf265g43d">6.000.000 <span>تومان</span></span>
                                            </div>
                                            <div class="cta-container">
                                                <a href="product.html">
                                                    <div class="btn btn-sm btn-primary px-3 px-lg-2 px-xl-4">مشاهده و خرید محصول</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 px-2 pb-2 products-compare-item">
                                        <div class="bg-light p-2 text-center">
                                            <div class="btn btn-sm btn-outline-secondary btn-cancel-compare float-left rounded-circle">X</div>
                                            <div><img src="{% static'assets/images/products/p103.png' %}" alt=""></div>
                                            <div class="title">گوشی موبایل شیائومی مدل POCO X3</div>
                                            <div class="encode4365gbf265g43d-container">
                                                <span class="encode4365gbf265g43d">3.000.000 <span>تومان</span></span>
                                            </div>
                                            <div class="cta-container">
                                                <a href="product.html">
                                                    <div class="btn btn-sm btn-primary px-3 px-lg-2 px-xl-4">مشاهده و خرید محصول</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 px-2 pb-2 products-compare-item">
                                        <div class="bg-light p-2 text-center">
                                            <div class="btn btn-sm btn-outline-secondary btn-cancel-compare float-left rounded-circle">X</div>
                                            <div><img src="{% static'assets/images/products/p102.png' %}" alt=""></div>
                                            <div class="title">گوشی موبایل سامسونگ مدل Galaxy A12</div>
                                            <div class="encode4365gbf265g43d-container">
                                                <span class="encode4365gbf265g43d">4.000.000 <span>تومان</span></span>
                                            </div>
                                            <div class="cta-container">
                                                <a href="product.html">
                                                    <div class="btn btn-sm btn-primary px-3 px-lg-2 px-xl-4">مشاهده و خرید محصول</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 px-2 pb-2 products-compare-item">
                                        <div class="bg-light p-2 text-center">
                                            <div class="btn btn-sm btn-outline-secondary btn-cancel-compare float-left rounded-circle">X</div>
                                            <div><img src="{% static'assets/images/products/p102.png' %}" alt=""></div>
                                            <div class="title">گوشی موبایل سامسونگ مدل Galaxy A12</div>
                                            <div class="encode4365gbf265g43d-container">
                                                <span class="encode4365gbf265g43d">4.000.000 <span>تومان</span></span>
                                            </div>
                                            <div class="cta-container">
                                                <a href="product.html">
                                                    <div class="btn btn-sm btn-primary px-3 px-lg-2 px-xl-4">مشاهده و خرید محصول</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="compare-table-details">
                        <div class="col-12 px-lg-0">
                            <!-- Detail Group -->
                            <div class="row" >
                                <div class="col-12 my-2 ">
                                    <div class="bg-light-yellow px-2 py-1 rounded">
                                        <span class="detail-title "><i class="fa fa-chevron-left small"></i> وزن</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <!--<div class="col-12 mb-1 px-2 font-weight-light"><div class="sub-detail-title p-2">عنوان ویژگی</div></div>-->
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">189 گرم</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">179 گرم</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">169 گرم</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">174 گرم</div></div>
                            </div>
                            <!-- /Detail Group -->

                            <!-- Detail Group -->
                            <div class="row">
                                <div class="col-12 my-2">
                                    <div class="bg-light-yellow px-2 py-1 rounded">
                                        <span class="detail-title"><i class="fa fa-chevron-left small"></i> اندازه</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <!--<div class="col-12 mb-1 px-2 font-weight-light"><div class="sub-detail-title p-2">عنوان ویژگی</div></div>-->
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">6.5 اینچ</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">6.3 اینچ</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">6.5 اینچ</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">6.4 اینچ</div></div>
                            </div>
                            <!-- /Detail Group -->

                            <!-- Detail Group -->
                            <div class="row">
                                <div class="col-12 my-2">
                                    <div class="bg-light-yellow px-2 py-1 rounded">
                                        <span class="detail-title"><i class="fa fa-chevron-left small"></i> پردازنده‌ی گرافیکی</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <!--<div class="col-12 mb-1 px-2 font-weight-light"><div class="sub-detail-title p-2">عنوان ویژگی</div></div>-->
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">Adreno 618 GPU</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">Adreno 618 GPU</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">Adreno 618 GPU</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">Adreno 618 GPU</div></div>
                            </div>
                            <!-- /Detail Group -->

                            <!-- Detail Group -->
                            <div class="row">
                                <div class="col-12 my-2">
                                    <div class="bg-light-yellow px-2 py-1 rounded">
                                        <span class="detail-title"><i class="fa fa-chevron-left small"></i> دوربین‌های پشت گوشی</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <!--<div class="col-12 mb-1 px-2 font-weight-light"><div class="sub-detail-title p-2">عنوان ویژگی</div></div>-->
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">3 ماژول دوربین</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">2 ماژول دوربین</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">5 ماژول دوربین</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">4 ماژول دوربین</div></div>
                            </div>
                            <!-- /Detail Group -->

                            <!-- Detail Group -->
                            <div class="row">
                                <div class="col-12 my-2">
                                    <div class="bg-light-yellow px-2 py-1 rounded">
                                        <span class="detail-title"><i class="fa fa-chevron-left small"></i> تعداد سیم کارت</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <!--<div class="col-12 mb-1 px-2 font-weight-light"><div class="sub-detail-title p-2">عنوان ویژگی</div></div>-->
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">2 عدد</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">1 عدد</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">1 عدد</div></div>
                                <div class="col-12 col-md-3 px-2"><div class="bg-light p-2">2 عدد</div></div>
                            </div>
                            <!-- /Detail Group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="mobile-forbidden" class="d-lg-none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container px-lg-0">
                        <div class="row mb-0 mb-sm-5">
                            <div class="col-12 px-0">
                                <div class="row">
                                    <div class="col-12 p-5 text-center">
                                        <span>این صفحه در موبایل قابل مشاهده نمی باشد.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Footer -->
<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">دسترسی سریع</div>
                <ul>
                    <li><a href="blog.html">بلاگ آموزشی</a></li>
                    <li><a href="faq.html">راهنمای خرید</a></li>
                    <li><a href="faq.html">شیوه های پرداخت</a></li>
                    <li><a href="contact.html">پیگیری سفارش</a></li>
                    <li><a href="faq.html">سوالات متداول</a></li>
                    <li><a href="about.html">درباره ما</a></li>
                    <li><a href="contact.html">تماس با ما</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">گروه های محصولات</div>
                <ul>
                    <li><a href="products.html">تجهیزات کامپیوتر</a></li>
                    <li><a href="products.html">گوشی موبایل</a></li>
                    <li><a href="products.html">جانبی موبایل</a></li>
                    <li><a href="products.html">ساعت هوشمند</a></li>
                    <li><a href="products.html">جانبی کامپیوتر</a></li>
                    <li><a href="products.html">دوربین</a></li>
                    <li><a href="products.html">لپ تاپ</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 d-none d-sm-inline-block">
                <div class="title">ناحیه کاربری</div>
                <ul>
                    <li><a href="login.html">ورود به سایت</a></li>
                    <li><a href="register.html">عضویت در سایت</a></li>
                    <li><a href="reset-password.html">بازیابی رمز عبور</a></li>
                    <li><a href="cart.html">سبد خرید</a></li>
                    <li><a href="checkout.html">پیش فاکتور</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <hr class="d-lg-none">
                <img src="{% static'assets/images/logo.png' %}" alt=""> روبیک مارکت
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="encode43vfbb65gtabfb">
                        <div>7 روز هفته، 24 ساعت شبانه روز</div>
                        <div>پاسخگوی شما هستیم</div>
                        <div>09351234567</div>
                    </div>
                    <div class="col-12 col-md-6 pt-2 pt-md-0" id="encode43vfbbbfb">
                        <div class="row">
                            <div class="col-4 text-center">
                                <a href="#"><img src="{% static'assets/images/encode43vfbbbfb/enamad.html" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="{% static'assets/images/encode43vfbbbfb/samandehi.html" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="{% static'assets/images/encode43vfbbbfb/etehadiye.html" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Footer -->
{% endblock %}
