{% extends 'base.html' %}
{% block content %}
<!-- contact section starts  -->
<br><br><br><br>
<section class="contact" id="contact">

    <h1 class="heading"> ارتباط <span>با ما</span></h1>
        {% if messages %}
        <div class="messages">
        <ul class="xxx" >
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <li {% if message.tags %} class="{{ message.tags }} vvv"{% endif %}>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <li {% if message.tags %} class="{{ message.tags }} SSS"{% endif %}>
                {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul></div>
        {% endif %}
     <form action="{% url 'home:contact_view' %}" method="post">
        {% csrf_token %}
         <div class="inputBox">
            <input name="name" type="text" placeholder="اسم">
            <input name="email" type="email" placeholder="ایمیل">
        </div>

        <div class="inputBox">
            <input name="telephon" type="number" placeholder="تلفن">
            <input name="title" type="text" placeholder="عنوان">
        </div>
        <div class="inputBox">
        <textarea  placeholder="پیام" name="content" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="m">{{form.captcha}}</div>
        <input type="submit" value="ارسال پیام" class="btn"><br>

    </form>

</section><br><br><br>

<!-- contact section ends -->

{% endblock %}
