
{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="menu__overlay--bg"></div>
<div class="overlay--bg"></div>
<div class="main" data-category-name="category-cup-coffe"><br>
    <div class="container-fluid">
        <div class="main__inner">
            <div class="search-page">
                <div class="search-page__inner">

                    <div class="wrapper no-wrapper mt-4">
                        <div class="row">
                            <div class="search-side-bar col-lg-3 col-12">
                                <div class="search-side-bar__inner">
                                    <div class="boxes">

                                        <div class="box search-box">
                                            <div class="box__inner search-box__inner">
                                                <div class="box-title">جستجو در نتایج</div>
                                                <div class="box-content">
                                                    <div class="search-in-result">
                                                        <form action="{% url 'blog:search' %}">
                                                        <input class="search-in-result--input" type="text"
                                                             name="p"  placeholder="نام محصول یا برند را بنویسید">
                                                        <button class="search-in-result--btn"><span
                                                                    class="mdi mdi-magnify"></span></button>
                                                    </form></div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="box brands-box">
                                            <div class="box__inner brands-box__inner has-drop-down">
                                                <div class="box-title">
                                                    <span>{{get}}</span>
                                                    <span class="text">برندها</span>
                                                    <span class="icon mdi mdi-window-minimize"></span>
                                                </div>
                                                <div class="box-content">
                                                    <div class="search-in-brands">
                                                        <form action="{% url 'blog:search' %}">
                                                        <input name="p" class="search-in-brands--input" type="text" placeholder="نام محصول یا برند را بنویسید">
                                                        <button class="search-in-brands--btn"><span class="mdi mdi-magnify"></span></button></form>
                                                    </div>
                                                    <div class="brands">
                                                        <div class="brand-item">
                                                            <label class="brand-item__inner" for="samsung">
                                                            <span class="md-checkbox">
                                                                {% if get == 'سامسونگ' %}

                                                                <!-- <input class="fa-title" id="samsung" data-brand-id="254"  type="checkbox"> -->
                                                                <form action="{% url 'home:products_view' %}" method="get" id="formExidstingv">
                                                                    <!-- <input type="hidden" value="سامسونگ" name="p"> -->
                                                                </form>
                                                                <input onclick="let forsmExistingv = document.querySelector('#formExidstingv').submit() " class="fa-title" id="samsung" data-brand-id="254" checked type="checkbox">
                                                                {% else %}
                                                                <form action="{% url 'blog:search' %}" method="get" id="formExidsting">
                                                                    <input type="hidden" value="سامسونگ" name="p">
                                                                </form>
                                                                <input onclick="let forsmExisting = document.querySelector('#formExidsting').submit() " class="fa-title" id="samsung" data-brand-id="254"  type="checkbox">

                                                                {% endif %}
                                                                <label for="samsung">سامسونگ</label>
                                                            </span>
                                                                <span class="en-title">Samsung</span>
                                                            </label>
                                                        </div>
                                                        <div class="brand-item">
                                                            <label class="brand-item__inner" for="huawei">
                                                            <span class="md-checkbox">
                                                                {% if get == 'هوآوی' %}

                                                                <!-- <input class="fa-title" id="samsung" data-brand-id="254"  type="checkbox"> -->
                                                                <form action="{% url 'home:products_view' %}" method="get" id="formExidstingvb">
                                                                    <!-- <input type="hidden" value="سامسونگ" name="p"> -->
                                                                </form>
                                                                <input onclick="let forsmExistinrgv = document.querySelector('#formExidstingvb').submit() " class="fa-title" id="huawei" data-brand-id="261" checked type="checkbox">
                                                                {% else %}
                                                                <form action="{% url 'blog:search' %}" method="get" id="formExidstingb">
                                                                    <input type="hidden" value="هوآوی" name="p">
                                                                </form>
                                                                <input onclick="let forsmExistinrg = document.querySelector('#formExidstingb').submit() " class="fa-title" id="huawei" data-brand-id="261"  type="checkbox">

                                                                {% endif %}
                                                                <!-- <input class="fa-title" id="huawei" data-brand-id="261" type="checkbox"> -->
                                                                <label for="huawei">هوآوی</label>
                                                            </span>
                                                                <span class="en-title">Huawei</span>
                                                            </label>
                                                        </div>
                                                        <div class="brand-item">
                                                            <label class="brand-item__inner" for="apple">
                                                            <span class="md-checkbox">
                                                                {% if get == 'اپل' %}

                                                                <!-- <input class="fa-title" id="samsung" data-brand-id="254"  type="checkbox"> -->
                                                                <form action="{% url 'home:products_view' %}" method="get" id="formExidstingvbq">
                                                                    <!-- <input type="hidden" value="سامسونگ" name="p"> -->
                                                                </form>
                                                                <input onclick="let forsmExistqinrgv = document.querySelector('#formExidstingvbq').submit() " class="fa-title" id="apple" data-brand-id="287" checked type="checkbox">
                                                                {% else %}
                                                                <form action="{% url 'blog:search' %}" method="get" id="formExidstingbq">
                                                                    <input type="hidden" value="اپل" name="p">
                                                                </form>
                                                                <input onclick="let forsmExistqinrg = document.querySelector('#formExidstingbq').submit() " class="fa-title" id="apple" data-brand-id="287"  type="checkbox">

                                                                {% endif %}
                                                                <!-- <input class="fa-title" id="apple" data-brand-id="287" type="checkbox"> -->
                                                                <label for="apple">اپل</label>
                                                            </span>
                                                                <span class="en-title">Apple</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="box colors-box">
                                            <div class="box__inner colors-box__inner has-drop-down">
                                                <div class="box-title">
                                                    <span class="text">رنگ ها</span>
                                                    <span class="icon mdi mdi-window-minimize"></span>
                                                </div>
                                                <div class="box-content">
                                                    <div class="colors">
                                                        <div class="color-item">
                                                            <label class="color-item__inner" for="blue">
                                                            <span class="md-checkbox">
                                                                <input class="fa-title" id="blue" data-brand-id="255"
                                                                       type="checkbox">
                                                                <label for="blue">آبی </label>
                                                            </span>
                                                                <span class="color"
                                                                              style="background-color: #1b7af3;"></span>
                                                                 </label>
                                                        </div>
                                                        <div class="color-item">
                                                            <label class="color-item__inner" for="red">
                                                            <span class="md-checkbox">
                                                                <input class="fa-title" id="red" data-brand-id="260"
                                                                       type="checkbox">
                                                                   <label for="red"> قرمز </label>
                                                            </span>
                                                                <span class="color"
                                                                      style="background-color: #cf3939;"></span>
                                                            </label>
                                                        </div>
                                                        <div class="color-item">
                                                            <label class="color-item__inner" for="green">
                                                            <span class="md-checkbox">
                                                                <input class="fa-title" id="green" data-brand-id="262"
                                                                       type="checkbox">
                                                                   <label for="green"> سبز </label>
                                                            </span>
                                                                <span class="color"
                                                                      style="background-color: #5ccf2e;"></span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="box existing-pd-box">


                                            <div class="box__inner existing-pd-box__inner">
                                                <div class="box-title d-flex">
                                                    <span>{{display}} فقط کالا های موجود</span>

                                                    {% if request.path == '/products_exist/' %}
                                                    <form action="{% url 'home:products_view' %}" method="get" id="formExisting">
                                                        <!-- <input type="hidden" value="true" name="Existing"> -->
                                                    </form>
                                                    <input class="mr-2" onclick="let formExisting = document.querySelector('#formExisting').submit() " type="checkbox"  checked  id="only-available">

                                                    {% else %}
                                                    <form action="{% url 'home:exist' %}" method="get" id="formc">
                                                        <!-- <input type="hidden" value="true" name="Existing"> -->
                                                        </form>

                                                            <input class="mr-2" onclick="let sss = document.querySelector('#formc').submit()" type="checkbox"  id="only-available">
                                                    {% endif %}

                                                    <!-- <button  type="submit" id="id-name--1"
                                                           class="switch-input"></button>

                                                    <label for="id-name--1" class="switch-label"><span"
                                                                class="toggle--on"></span><span
                                                                class="toggle--off"></span></label> -->
                                                                <!-- <button type="submit">wd</button> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box ready-pd-box">
                                            <div class="box__inner ready-pd-box__inner">
                                                <div class="box-title d-flex">
                                                    <span>فقط کالاهای آماده ارسال</span>
<!--
                                                    <a href="{% url 'home:ready' %}"><button type="submit" class="mr-3">فعال</button></a>
                                                    <a href="{% url 'home:products_view' %}"><button type="submit" class="mr-1">غیر فعال</button></a> -->
                                                    {% if request.path == '/products_ready/' %}
                                                    <form action="{% url 'home:products_view' %}" method="get" id="formready">
                                                        <!-- <input type="hidden" value="true" name="Existing"> -->
                                                    </form>
                                                    <input class="mr-2" onclick="let formExdgistcing = document.querySelector('#formready').submit() " type="checkbox"  checked  id="only-available">

                                                    {% else %}
                                                    <form action="{% url 'home:ready' %}" method="get" id="formccc">
                                                        <!-- <input type="hidden" value="true" name="Existing"> -->
                                                        </form>

                                                            <input class="mr-2" onclick="let sscs = document.querySelector('#formccc').submit()" type="checkbox"  id="only-available">
                                                    {% endif %}
                                                    <!-- <input type="checkbox" id="id-name--2" name="set-name"
                                                           class="switch-input">

                                                    <label for="id-name--2" class="switch-label"><span
                                                                class="toggle--on"></span><span
                                                                class="toggle--off"></span></label> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box price-slider-box">
                                            <div class="box__inner price-slider-box__inner has-drop-down">
                                                <div class="box-title">
                                                    <span class="text">انتخاب محدوده قیمت</span>
                                                    <span class="icon mdi mdi-open-in-new"></span>
                                                </div>
                                                <div class="box-content no-active"><form action="{% url 'blog:filter' %}" method="get">
                                                    <div id="pd-price-range"></div>
                                                    <div class="pd-price-calc" >
                                                        <div class="pd-price-calc__inner">
                                                            <div class="from-price">
                                                                <span class="title item">از</span>
                                                                <span class="price item oo" data-value="0">0</span>
                                                                <input class="yu" type="hidden" name="min_price" value="0" class="u">
                                                                <span class="unit item">تومان</span>
                                                            </div>
                                                            <div class="to-price">
                                                                <span class="title item">تا</span>
                                                                <span  class="price item ss"
                                                                      data-value="456000">456000</span>
                                                                      <input type="hidden" name="max_price" value="" class="u">
                                                                <span class="unit item">تومان</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="button-filter">
                                                        <button class="button-filter__inner" type="submit" ">
                                                            <span class="icon mdi mdi-filter"></span>
                                                            <span class="text">اعمال محدوده قیمت</span>
                                                        </button>
                                                    </div>
                                                    <script>
                                                        let t = document.querySelector('.u')
                                                        let r = document.querySelector('.ss')
                                                        let ro = document.querySelector('.oo')
                                                        let ruo = document.querySelector('.yu')
                                                        let rd = document.querySelector('.button-filter')
                                                        rd.addEventListener('click',function() {
                                                           let ggg =  r.innerHTML
                                                          let ff=  ro.innerHTML

                                                          t.value=ggg.replace(',','')

                                                          ruo.value=ff.replace(',','')
                                                    })
                                                    </script>
                                                </form></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-main-bar col-lg-9 col-12">
                                <div class="search-main-bar__inner">
                                    <div class="filters dt-nf">
                                        <div class="filters__inner ah-tab-overflow-right">
                                            <div class="title">
                                                <span class="icon mdi mdi-sort-variant"></span>
                                                <span class="text">مرتب سازی بر اساس:</span>
                                            </div>
                                            <div class="filter" data-sort-id="1">

                                            <span class="filter--text">
                                                پرفروش‌ترین
                                            </span>
                                            </div>
                                            <!-- <div class="filter active" data-sort-id="2">
                                            <span class="filter--text">
                                                مرتبط‌ترین
                                            </span>
                                            </div> -->
                                            <!-- <form id="cheapest" action="" method="get"><input type="hidden" name="cheapest" value="true"></form>
                                            <div onclick="let cheapest =document.querySelector('#cheapest').submit()" class="filter" data-sort-id="3">

                                            <span class="filter--text">
                                                ارزان‌ترین
                                            </span>
                                            </div> -->

                                            <div class="filter {% if request.path == '/products_cheapest/' %} active {% endif %} " data-sort-id="3">
                                                <a href="{% url 'home:cheapest' %}">
                                                    <span class="filter--text">
                                                        ارزان‌ترین
                                                    </span></a>
                                            </div>
                                            <div class="filter  {% if request.path == '/products_expensive/' %} active {% endif %}" data-sort-id="4">
                                            <a href="{% url 'home:expensive' %}">
                                                <span class="filter--text">
                                                    گران‌ترین
                                                </span></a>
                                            </div>
                                            <div class="filter {% if request.path == '/products_discounts/' %} active {% endif %} " data-sort-id="5">
                                            <a href="{% url 'home:discounts' %}">
                                            <span class="filter--text">
                                                بیشترین تخفیف
                                            </span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2 mb-2 mr-4" >
                                    <h1>{{exist}}</h1></div>
                                    <div class="products">
                                        <div class="products__inner">
                        {% for pro in products  %}

  				      	<div class="product col-lg-3 no-padding"><a href="{% url 'blog:product_view' pid=pro.id %}">
                                                <div class="product__inner mb-3">
                                                    {% if pro.Discoust > 15 %}

                                                    <div class="has-discount">
							                        <!-- <div class="colors">
                                                            <div class="colors__inner">

                                                                <span class="color"
                                                                      style="background-color: blue;"></span>
                                                                <span class="color"
                                                                      style="background-color: violet;"></span>
                                                                <span class="color"
                                                                      style="background-color: mediumseagreen;"></span>
                                                                <span class="color"
                                                                      style="background-color: mediumseagreen;"></span>
                                                                <span class="mdi mdi-plus"></span>
                                                            </div>
                            </div> -->
							                        <span class="has-discount--text">فروش ویژه</span>
                                                    </div>
                                                    {% endif %}



                                                    <div class="picture">
							<img src="{{pro.image.url}}" alt="">
                                                    </div>
                                                    <div class="title">
							<span class="title--text">{{pro.title}}</span>
                                                    </div>
                                                    <div class="price">
                                                        <span class="price--text">{{pro.price}}</span>
                                                        <span class="price--unit">تومان</span>
                                                    </div>
                                                </div>
                        </div></a>
                        {% endfor %}


                                        </div>
                                        <div class="row ">
                                            <div class="col-12">
                                                <div class="pagination mb-3">
                                                    <ul>
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page={{page_obj.previous_page_number}}" class="prev"><i class="mdi mdi-chevron-double-right"></i></a>

                                                        {% endif %}
                                                    <!-- <a href="#" class="active-page">1</a> -->
                                                     {% for i in page_obj.paginator.page_range %}
                                                        <a {% if page_obj.number == i %} class="active-page" {% endif %} href="?page={{i}}">{{i}}</a>

                                                     {% endfor %}

                                                    <!-- <a href="#">...</a>
                                                    <a href="#">8</a> -->

                                                    {% if page_obj.has_next %}
                                                        <a href="?page={{page_obj.next_page_number}}" class="next"><i class="mdi mdi-chevron-double-left"></i></a>
                                                    {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    let j  = document.querySelector('.switch-input')
    let hidden  = document.querySelector('.hidden')
    j.addEventListener('click', function (){
            console.log('dwwd')
            hidden.value == 'false'
    })
</script> -->
<!-- /Footer -->
{% endblock %}
