
{% extends 'base.html' %}
{% load static %}
{% load home_tags %}
{% block content %}

<section class="product g" id="product"  >

    <h1 class="heading">اخرین محصولات پروتئینی</h1>


    <div class="box-container" >


    {% lates_po %}



    </div></section>
<section class="product g" id="product"  >

    <h1 class="heading"> اخرین محصولات گیاهی</h1>

    <div class="box-container" >


    {% lates_v %}



</div></section>
<section class="product g" id="product"  >

    <h1 class="heading">اخرین محصولات صیفی</h1>

    <div class="box-container" >


    {% lates_s %}



    </div></section>
<section class="product g" id="product"  >

        <h1 class="heading">اخرین محصولات لبنی </h1>

        <div class="box-container" >


        {% lates_l %}



        </div></section>
<section class="product g" id="product"  >

    <h1 class="heading"> اخرین محصولات روغنی</h1>

    <div class="box-container" >


    {% lates_r %}



    </div></section>
        <!-- {% for pro in products %}
                <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <a href="/blog/product_{{pro.id}}"><img src="{{pro.image.url}}" alt=""></a>
            <h3>{{pro.title}}</h3>

            <div class="price"> ${{pro.price}}<span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input style="width: 50%;" type="number" min="1" max="1000" value="1">
                <span style="font-size:medium;"> 10/kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>
        {% endfor %} -->

        <!-- <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/نهال-انگور-صاحبی.webp'  %}" alt="">
            <h3>انگور ارگانیک</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>

        <div class="box">
            <span class="discount">-45%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-2.png'  %}" alt="">
            <h3>گوجه فرنگی ارگانیک</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>

        <div class="box">
            <span class="discount">-52%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-3.png'  %}" alt="">
            <h3>پرتقال ارگانیک</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>

        <div class="box">
            <span class="discount">-20%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-5.png'  %}" alt="">
            <h3>انگور ارگانیک</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>

        <div class="box">
            <span class="discount">-29%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-6.png'  %}" alt="">
            <h3>بادام طبیعی</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>

        <div class="box">
            <span class="discount">-55%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-7.png'  %}" alt="">
            <h3>سیب ارگانیک</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>
        <div class="box">
            <span class="discount">-40%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-9.png'  %}" alt="">
            <h3>هویج ارگانیک</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div> -->


    <!-- <div class="y" >
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="jjj next zz">« Next</a>
        {% endif %}
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}" class="jjj previous zz">Previous »</a>
        {% endif %}
        {% if products.has_next %}
            <a href="?page={{ products.paginator.num_pages }}" class="jjj previous round">‹‹</a>
        {% endif %}
        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <a href="?page={{i}}" class="jjj previous round act">{{i}}</a>
            {% else %}
                <a href="?page={{i}}" class="jjj previous round">{{i}}</a>
            {% endif %}


        {% endfor %}

        {% if products.has_previous %}
            <a href="?page=1" class="jjj next round">››</a>
        {% endif %}

    </div> -->

</section>
<!-- </section>
<section class="product" id="product">

    <h1 class="heading">محصولات لبنی</h1>

    <div class="box-container">


                <div class="box">
            <span class="discount">-13%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-4.png'  %}" alt="">
            <h3> شیر طبیعی</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
                </div>





         <div class="box">
            <span class="discount">-30%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-8.png'  %}" alt="">
            <h3>کره طبیعی</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>




        <div class="box">
            <span class="discount">-30%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/Feta-Cheese-1.jpg'  %}" alt="">
            <h3>پنیر طبیعی</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>


        <div class="box">
            <span class="discount">-30%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/ovine-dried-kashk-barjil-352-1.webp'  %}" alt="">
            <h3>کشک طبیعی</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>
    </div> -->

<!-- </section>
<section class="product" id="product">

    <h1 class="heading">محصولات پروتئینی</h1>

    <div class="box-container">



        <div class="box">
            <span class="discount">-13%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/deal-img2.png'  %}" alt="">
            <h3>گوشت قرمز گوسفندی</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>



        <div class="box">
            <span class="discount">-30%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/سوسیس+و+کالباس+دهکده.jpg'  %}" alt="">
            <h3>سوسیس و کالباس</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>




        <div class="box">
            <span class="discount">-30%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/ماهی-غزل-آلا.jpg'  %}" alt="">
            <h3>ماهی قزل آلا</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>


        <div class="box">
            <span class="discount">-30%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/35498.jpg'  %}" alt="">
            <h3>مرغ </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $10.50 <span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div>
    </div>

</section> -->

{% endblock %}
<!-- <div class="box">
    <span class="discount">-30%</span>
    <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
        <a href="#" class="fas fa-eye"></a>
    </div>
    <img src="{% static 'images/product-8.png'  %}" alt="">
    <h3>کره طبیعی</h3>
    <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <div class="price"> $10.50 <span> $13.20 </span> </div>
    <div class="quantity">
        <span>تعداد : </span>
        <input type="number" min="1" max="1000" value="1">
        <span> /kg </span>
    </div>
    <a href="#" class="btn">افزودن به سبد خرید</a>
</div> -->
