
{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="menu__overlay--bg"></div>
<div class="overlay--bg"></div>
<div class="main" data-category-name="category-cup-coffe">
    <div class="container-fluid">
        <div class="main__inner">
            <div class="search-page">
                <div class="search-page__inner">

                    <div class="wrapper no-wrapper mt-4">
                        <div class="row">
                            <div class="search-side-bar col-lg-3 col-12">
                                <div class="search-side-bar__inner">
                                    <div class="boxes">
                                        <div class="box categories-box">
                                            <div class="box__inner categories-box__inner">
                                                <div class="box-title">دسته‌بندی نتایج</div>
                                                <div class="box-content">
                                                    <ul class="items">
                                                        <li class="item"><a class="arrow-left" href="#">خانه و
                                                                آشپزخانه</a></li>
                                                        <div class="show-more">
                                                            <ul class="items">
                                                                <li class="item"><a class="arrow-down"
                                                                                    href="#">آشپزخانه</a></li>
                                                                <div class="show-more">
                                                                    <ul class="items">
                                                                        <li class="item"><a class="arrow-down active"
                                                                                            href="#">تهیه و سرو چای و
                                                                                قهوه</a></li>
                                                                        <div class="show-more">
                                                                            <ul class="child">
                                                                                <li class="child-item"><a
                                                                                            href="#">قوری</a></li>
                                                                                <li class="child-item"><a href="#">کتری
                                                                                        و قوری</a></li>
                                                                                <li class="child-item"><a href="#">سرویس
                                                                                        چای خوری</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </ul>
                                                                </div>
                                                            </ul>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box search-box">
                                            <div class="box__inner search-box__inner">
                                                <div class="box-title">جستجو در نتایج</div>
                                                <div class="box-content">
                                                    <div class="search-in-result">
                                                        <form action="{% url 'blog:search' %}">
                                                        <input class="search-in-result--input" type="text"
                                                             name="p"  placeholder="نام محصول یا برند را بنویسید">
                                                        <button class="search-in-result--btn"><span
                                                                    class="mdi mdi-magnify"></span></button>
                                                    </form></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box brands-box">
                                            <div class="box__inner brands-box__inner has-drop-down">
                                                <div class="box-title">
                                                    <span class="text">برندها</span>
                                                    <span class="icon mdi mdi-window-minimize"></span>
                                                </div>
                                                <div class="box-content">
                                                    <form action="{% url 'blog:search' %}">
                                                    <div class="search-in-brands">
                                                        <input name="p" class="search-in-brands--input" type="text"
                                                               placeholder="نام محصول یا برند را بنویسید">
                                                        <button class="search-in-brands--btn"><span
                                                                    class="mdi mdi-magnify"></span></button>
                                                    </div>
                                                    <div class="brands">
                                                        <div class="brand-item">
                                                            <label class="brand-item__inner" for="samsung">
                                                            <span class="md-checkbox">
                                                                <input class="fa-title" id="samsung" data-brand-id="254"
                                                                       type="checkbox">
                                                                <label for="samsung">سامسونگ</label>
                                                            </span>
                                                                <span class="en-title">Samsung</span>
                                                            </label>
                                                        </div>
                                                        <div class="brand-item">
                                                            <label class="brand-item__inner" for="huawei">
                                                            <span class="md-checkbox">
                                                                <input class="fa-title" id="huawei" data-brand-id="261"
                                                                       type="checkbox">
                                                                <label for="huawei">هوآوی</label>
                                                            </span>
                                                                <span class="en-title">Huawei</span>
                                                            </label>
                                                        </div>
                                                        <div class="brand-item">
                                                            <label class="brand-item__inner" for="apple">
                                                            <span class="md-checkbox">
                                                                <input class="fa-title" id="apple" data-brand-id="287"
                                                                       type="checkbox">
                                                                <label for="apple">آپل</label>
                                                            </span>
                                                                <span class="en-title">Apple</span>
                                                            </label>
                                                        </div>
                                                    </div></form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="box colors-box">
                                            <div class="box__inner colors-box__inner has-drop-down">
                                                <div class="box-title">
                                                    <span class="text">رنگ ها</span>
                                                    <span class="icon mdi mdi-window-minimize"></span>
                                                </div>
                                                <div class="box-content">
                                                    <div class="colors">
                                                        <div class="color-item">
                                                            <label class="color-item__inner" for="blue">
                                                            <span class="md-checkbox">
                                                                <input class="fa-title" id="blue" data-brand-id="255"
                                                                       type="checkbox">
                                                                <label for="blue">آبی </label>
                                                            </span>
                                                                <span class="color"
                                                                              style="background-color: #1b7af3;"></span>
                                                                 </label>
                                                        </div>
                                                        <div class="color-item">
                                                            <label class="color-item__inner" for="red">
                                                            <span class="md-checkbox">
                                                                <input class="fa-title" id="red" data-brand-id="260"
                                                                       type="checkbox">
                                                                   <label for="red"> قرمز </label>
                                                            </span>
                                                                <span class="color"
                                                                      style="background-color: #cf3939;"></span>
                                                            </label>
                                                        </div>
                                                        <div class="color-item">
                                                            <label class="color-item__inner" for="green">
                                                            <span class="md-checkbox">
                                                                <input class="fa-title" id="green" data-brand-id="262"
                                                                       type="checkbox">
                                                                   <label for="green"> سبز </label>
                                                            </span>
                                                                <span class="color"
                                                                      style="background-color: #5ccf2e;"></span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box existing-pd-box">


                                            <div class="box__inner existing-pd-box__inner">
                                                <div class="box-title">
                                                    <span>{{display}} فقط کالا های موجود</span>


                                                    <a href="{% url 'home:exist' %}"><button type="submit" class="mr-5">فعال</button></a>
                                                    <a href="{% url 'home:products_view' %}"><button type="submit" class="mr-1">غیر فعال</button></a>

                                                    <!-- <button  type="submit" id="id-name--1"
                                                           class="switch-input"></button>

                                                    <label for="id-name--1" class="switch-label"><span"
                                                                class="toggle--on"></span><span
                                                                class="toggle--off"></span></label> -->
                                                                <!-- <button type="submit">wd</button> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box ready-pd-box">
                                            <div class="box__inner ready-pd-box__inner">
                                                <div class="box-title">
                                                    <span>فقط کالاهای آماده ارسال</span>


                                                    <a  href="{% url 'home:ready' %}"><button style="background-color: greenyellow; border-radius:15px " type="submit" class="mr-1 p-2">فعال</button></a>
                                                    <a href="{% url 'home:products_view' %}"><button style="background-color: red; color:white; border-radius:15px" type="submit" class="mr-1 p-2">غیر فعال</button></a>
                                                    <!-- <input type="checkbox" id="id-name--2" name="set-name"
                                                           class="switch-input">

                                                    <label for="id-name--2" class="switch-label"><span
                                                                class="toggle--on"></span><span
                                                                class="toggle--off"></span></label> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box price-slider-box">
                                            <div class="box__inner price-slider-box__inner has-drop-down">
                                                <div class="box-title">
                                                    <span class="text">انتخاب محدوده قیمت</span>
                                                    <span class="icon mdi mdi-open-in-new"></span>
                                                </div>
                                                <div class="box-content no-active"><form action="{% url 'blog:filter' %}" method="get">
                                                    <div id="pd-price-range"></div>
                                                    <div class="pd-price-calc" >
                                                        <div class="pd-price-calc__inner">
                                                            <div class="from-price">
                                                                <span class="title item">از</span>
                                                                <span class="price item oo" data-value="0">0</span>
                                                                <input class="yu" type="hidden" name="min_price" value="0" class="u">
                                                                <span class="unit item">تومان</span>
                                                            </div>
                                                            <div class="to-price">
                                                                <span class="title item">تا</span>
                                                                <span  class="price item ss"
                                                                      data-value="456000">456000</span>
                                                                      <input type="hidden" name="max_price" value="" class="u">
                                                                <span class="unit item">تومان</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="button-filter">
                                                        <button class="button-filter__inner" type="submit" ">
                                                            <span class="icon mdi mdi-filter"></span>
                                                            <span class="text">اعمال محدوده قیمت</span>
                                                        </button>
                                                    </div>
                                                    <script>
                                                        let t = document.querySelector('.u')
                                                        let r = document.querySelector('.ss')
                                                        let ro = document.querySelector('.oo')
                                                        let ruo = document.querySelector('.yu')
                                                        let rd = document.querySelector('.button-filter')
                                                        rd.addEventListener('click',function() {
                                                           let ggg =  r.innerHTML
                                                          let ff=  ro.innerHTML
                                                          let i = "ssasastyyss"
                                                          t.value=ggg.replace(',','')
                                                          console.log(ff)
                                                          ruo.value=ff.replace(',','')
                                                    })
                                                    </script>
                                                </form></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-main-bar col-lg-9 col-12">
                                <div class="search-main-bar__inner">
                                    <div class="filters dt-nf">
                                        <div class="filters__inner ah-tab-overflow-right">
                                            <div class="title">
                                                <span class="icon mdi mdi-sort-variant"></span>
                                                <span class="text">مرتب سازی بر اساس:</span>
                                            </div>
                                            <div class="filter" data-sort-id="1">
                                            <span class="filter--text">
                                                پرفروش‌ترین
                                            </span>
                                            </div>
                                            <!-- <div class="filter active" data-sort-id="2">
                                            <span class="filter--text">
                                                مرتبط‌ترین
                                            </span>
                                            </div> -->
                                            <div class="filter" data-sort-id="3">
                                            <span class="filter--text">
                                                ارزان‌ترین
                                            </span>
                                            </div>
                                            <div class="filter" data-sort-id="4">
                                            <span class="filter--text">
                                                گران‌ترین
                                            </span>
                                            </div>
                                            <div class="filter" data-sort-id="5">
                                            <span class="filter--text">
                                                بیشترین تخفیف
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2 mb-2 mr-4" >
                                    <h1>{{exist}}</h1></div>
                                    <div class="products">
                                        <div class="products__inner">
                        {% for pro in products  %}

  				      	<div class="product col-lg-3 no-padding"><a href="{% url 'blog:product_single' pid=5 %}">
                                                <div class="product__inner mb-3">
                                                    <div class="has-discount">
							<div class="colors">
                                                            <div class="colors__inner">
                                                                <!--Be Carefull Maximum of colors Must Not More Than 4 colors -->
                                                                <span class="color"
                                                                      style="background-color: blue;"></span>
                                                                <span class="color"
                                                                      style="background-color: violet;"></span>
                                                                <span class="color"
                                                                      style="background-color: mediumseagreen;"></span>
                                                                <span class="color"
                                                                      style="background-color: mediumseagreen;"></span>
                                                                <span class="mdi mdi-plus"></span>
                                                            </div>
                                                        </div>
							<span class="has-discount--text">فروش ویژه</span>
						    </div>
                                                    <div class="picture">
							<img src="{% static 'asset/images/117624541.jpg' %}" alt="">
                                                    </div>
                                                    <div class="title">
							<span class="title--text">{{pro.title}}</span>
                                                    </div>
                                                    <div class="price">
                                                        <span class="price--text">۲۳۴٫۰۰۰</span>
                                                        <span class="price--unit">تومان</span>
                                                    </div>
                                                </div>
                        </div></a>
                        {% endfor %}


                                        </div>
                                        <div class="row ">
                                            <div class="col-12">
                                                <div class="pagination mb-3">
                                                    <a href="#" class="prev"><i class="mdi mdi-chevron-double-right"></i></a>
                                                    <a href="#" class="active-page">1</a>
                                                    <a href="#">2</a>
                                                    <a href="#">3</a>
                                                    <a href="#">4</a>
                                                    <a href="#">...</a>
                                                    <a href="#">8</a>
                                                    <a href="#" class="next"><i class="mdi mdi-chevron-double-left"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    let j  = document.querySelector('.switch-input')
    let hidden  = document.querySelector('.hidden')
    j.addEventListener('click', function (){
            console.log('dwwd')
            hidden.value == 'false'
    })
</script> -->
<!-- /Footer -->
{% endblock %}
