 {% load static %}
 {% load home_tags %}
 {% for po in products %}
 <div class="swiper-slide ">
    <a href="{% url 'blog:product_view' pid=po.id %}" class="swiper-slide__inner">
        <div class="product-head">
            <div class="rating-stars">
                {% for i in po.stars|range_filter  %}


                <i class="mdi mdi-star active"></i>
                {% endfor %}
                {% for i in  po.stars|range_dfilter  %}


                <i class="mdi mdi-star "></i>
                {% endfor %}
                <!-- <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star"></i> -->
            </div>

        </div>

        <span class="picture">
                <img src="{{po.image.url}}"
                     alt=""></span>
        <span class="title">{{po.title}}</span>
        <span class="price">
<span class="price--number">{{po.price}}</span>
            <span class="price--unit">تومان</span>
            </span>
    </a>
</div>

 <!-- <div class="box">

            <a href="/blog/product_{{po.id}}"><img src="{{po.image.url}}" alt=""></a>
            <h3>{{po.title}}</h3>
            <div class="price"> {{po.price}}<span> $13.20 </span> </div>
            <div class="quantity">
                <span>تعداد : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">افزودن به سبد خرید</a>
        </div> -->

 {% endfor %}
