{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
    <div class="menu__overlay--bg"></div>
    <div class="overlay--bg"></div>

    <div class="main">
        <div class="container-fluid">
            <div class="main__inner">
                <div class="profile-page">
                    <div class="profile-page__inner">
                        <div class="breadcrumbs">
                            <div class="breadcrumbs__inner">
                                <div class="items">
                                    <div class="item"><a href="#">خانه</a></div>
                                    <div class="item"><a href="#">پروفایل کاربری</a></div>
                                    <div class="item"><a href="#">ویرایش اطلاعات فردی</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper c-row no-wrapper">
                            {% include './layout.html' %}

                            <div class="side-left col-lg-9">
                                <form action="" method="post">{% csrf_token %}
                                <div class="side-left__inner">
                                    <div class="personal-info-view">
                                        <div class="personal-info-view__inner">
                                            <div class="c-row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="p-i-col">
                                                        <div class="p-i-col__inner">

                                                            <div class="key">نام کاربری ‌</div>
                                                            <input name="username" class="value form-control"  placeholder="{{request.user}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 no-padding">
                                                    <div class="p-i-col">
                                                        <div class="p-i-col__inner">
                                                            <div class="key">عکس پروفایل</div>

                                                            <input name="image" type="file" class="value form-control"   >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="p-i-col">
                                                        <div class="p-i-col__inner">
                                                            <div class="key">نام ‌</div>
                                                            <input name="first_name" class="value form-control"  placeholder="{{request.user.first_name}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 no-padding">
                                                    <div class="p-i-col">
                                                        <div class="p-i-col__inner">
                                                            <div class="key">نام خانوادگی</div>

                                                            <input name="last_name" class="value form-control"  placeholder="{{request.user.last_name}}" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="p-i-col">
                                                        <div class="p-i-col__inner">
                                                            <div class="key">ایمیل</div>
                                                            <input name="email" class="value form-control"  placeholder="{{request.user.email}}" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 no-padding">
                                                    <div class="p-i-col">
                                                        <div class="p-i-col__inner">
                                                            <div class="key">کدملی</div>
                                                            <input name="meli" class="value " class="form-control"  placeholder="{{request.user.meli}}" >

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="p-i-col">
                                                        <div class="p-i-col__inner">
                                                            <div class="key">شماره تلفن</div>
                                                            <input name="phone" class="value form-control"  placeholder="{{request.user.phone}}" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 no-padding">
                                                    <div class="p-i-col">
                                                        <div class="p-i-col__inner">
                                                            <div class="key">شماره کارت جهت مرجوع وجه</div>
                                                            <input name="card" class="value " class="form-control"  placeholder="{{request.user.card}}" >

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-i-edit-link">
                                                <button  type="submit" class="aba p-i-edit-link--text"><p>ویرایش اطلاعات شخصی</p></button>
                                            </div>
                                        </div>
                                    </div>
                                </div></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
