{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>

    <div class="menu__overlay--bg"></div>
    <div class="overlay--bg"></div>

    <div class="main">
        <div class="container-fluid">
            <div class="main__inner">
                <div class="profile-page">
                    <div class="profile-page__inner">
                        <div class="breadcrumbs">
                            <div class="breadcrumbs__inner">
                                <div class="items">
                                    <div class="item"><a href="#">خانه</a></div>
                                    <div class="item"><a href="#">پروفایل کاربری</a></div>
                                    <div class="item"><a href="#">علاقه مندی ها</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper c-row no-wrapper">
                            {% include './layout.html' %}
                            <div class="side-left col-lg-9">
                                <div class="side-left__inner">
                                    <div class="favorites card-items">
                                        <div class="favorites__inner card-items__inner">

                                            {% for item in favorates %}
                                            <div class="card-item-favorite col-lg-6 col-12 mt-3"><form id="#sys{{item.id}}" action="{% url 'blog:delete_favorates' pid=item.id %}" method="post"> {% csrf_token %} </form>
                                                <div class="card-item-favorite__inner">

                                                    <div class="picture">
                                                        <img src="{% static './asset/images/5e7b690b53767.jpg' %}" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <div class="icon">
                                                            <span class="mdi mdi-heart"></span>
                                                        </div>
                                                        <div class="title">
                                                            <span class="title--text">{{item.title}}</span>
                                                        </div>
                                                        <div class="price">
                                                            <span class="price-number">{{item.price}}</span>
                                                            <span class="price-unit">تومان</span>
                                                        </div>
                                                        <div class="link">
                                                            <a href="{% url 'blog:product_view' pid=item.id %}" class="btn">مشاهده محصول</a>
                                                            <button onclick="let form=document.getElementById('#sys{{item.id}}').submit()"class="remove-btn">
                                                                <i class="mdi mdi-trash-can-outline"></i>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
